<form class="register-form" (ngSubmit)="onSubmit()" #form="ngForm">
    <!-- Obligatorios -->
    <label>
      Nombre
      <input type="text" name="nombre" [(ngModel)]="nombre" required />
    </label>
  
    <label>
      Primer Apellido
      <input type="text" name="apellido1" [(ngModel)]="apellido1" required />
    </label>
  
    <label>
      Segundo Apellido
      <input type="text" name="apellido2" [(ngModel)]="apellido2" required />
    </label>
  
    <label>
      DNI
      <input type="text" name="dni" [(ngModel)]="dni" required />
    </label>
  
    <label>
      Teléfono
      <input type="tel" name="telefono" [(ngModel)]="telefono" required />
    </label>
  
    <label>
      Correo Electrónico
      <input type="email" name="email" [(ngModel)]="email" required />
    </label>
  
    <label>
      Contraseña
      <input type="password" name="password" [(ngModel)]="password" required />
    </label>
  
    <label>
      Repetir Contraseña
      <input type="password" name="repeatPassword" [(ngModel)]="repeatPassword" required />
    </label>
  
    <!-- Opcionales -->
    <hr />
    <label>
      Ciudad de Residencia
      <input type="text" name="ciudad" [(ngModel)]="ciudad" />
    </label>
  
    <label>
      Código Postal
      <input type="text" name="cp" [(ngModel)]="cp" />
    </label>
  
    <label>
      Dirección
      <input type="text" name="direccion" [(ngModel)]="direccion" />
    </label>
  
    <label>
      Fecha de Nacimiento
      <input type="date" name="fechaNacimiento" [(ngModel)]="fechaNacimiento" />
    </label>
  
    <label>
      Género
      <select name="genero" [(ngModel)]="genero">
        <option value="" disabled selected>Selecciona una opción</option>
        <option value="masculino">Masculino</option>
        <option value="femenino">Femenino</option>
        <option value="otro">Otro</option>
        <option value="no-decirlo">Prefiero no decirlo</option>
      </select>
    </label>
  
    <label>
      Sector o Industria
      <input type="text" name="sector" [(ngModel)]="sector" />
    </label>
  
    <label class="checkbox">
      <input type="checkbox" name="terminos" [(ngModel)]="terminos" required />
      Acepto los términos y condiciones
    </label>
  
    <button type="submit" [disabled]="form.invalid">Registrarse</button>
  </form>
  